* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
section.forms {
    display: flex;
    margin: 5px;
    gap: 5px;
}
section.forms fieldset {
    padding: 5px;
}